/* Welcome and Game Selection */

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
}
.game-btn-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px red;
}
.game-btn {
    border-radius: 100%;
    border-width: 20px;
    border-style: solid;
    padding: 3rem;
    max-height: 180px;
    max-width: 180px;
    background-color: #ffffff;
    background-origin: border-box;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-btn:first-child {
    width: 100%;
    height: 100%;
}
.results-container {
    border: black solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 600px;
    max-height: 400px;
    justify-items: center;
    align-content: center;
}
.reset-result-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
