/* Welcome and Game Selection */
.welcome-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    color: var(--BaseTextColor);
}
.welcome-navigation {
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

/* Game Summary */
.selected-game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.game-header {
    width: 50%;
    max-width: 600px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px var(--HeaderOutline);
    border-radius: 15px;
    padding: 1rem;
}
.score-reset-container {
    background-color: var(--BaseTextColor);
    height: 100%;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.score-container {
    display: flex;
    flex-direction: column;
}
.score-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.reset-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.score-reset-btn {
    border: unset;
    background: unset;
    font-size: 2rem;
    cursor: pointer;
}
.reset-score-svg {
    display: block;
}

/* Modal */
.rules-modal-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.5);
}
.rules-modal {
    border: solid 1px black;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
}
/* Game Selector */
.opponent-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 500px;
}

/* Game Content */
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    width: 550px;
    height: 500px;
}
.game-btn-container {
    width: fit-content;
    height: fit-content;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.game-btn {
    border-radius: 100%;
    border-width: 20px;
    border-style: solid;
    padding: 3rem;
    max-height: 180px;
    max-width: 180px;
    background-color: #ffffff;
    background-origin: border-box;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 50;
}
/* Basic Buttons */
.Rock {
    bottom: 0;
}
.Paper {
    top: 0;
    left: 0;
}
.Scissors {
    top: 0;
    right: 0;
}
/* Advanced Buttons */
.Rock-advanced {
    bottom: 0;
    right: 3.5rem;
    max-height: 150px;
    max-width: 150px;
}
.Paper-advanced {
    right: 0;
    top: 7rem;
    max-height: 150px;
    max-width: 150px;
}
.Scissors-advanced {
    top: 0;
    max-height: 150px;
    max-width: 150px;
}
.Spock-advanced {
    left: 0;
    top: 7rem;
    max-height: 150px;
    max-width: 150px;
}
.Lizard-advanced {
    bottom: 0;
    left: 3.5rem;
    max-height: 150px;
    max-width: 150px;
}
/* Results Page */
.results-container {
    /* border: black solid 1px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}
.reset-result-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.game-btn-container-result {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 1rem;
}
.result-btn {
    border-radius: 100%;
    border-width: 20px;
    border-style: solid;
    padding: 4rem;
    max-height: 150px;
    max-width: 150px;
    background-color: #ffffff;
    background-origin: border-box;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
